<nav class="m-2">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button
      class="nav-link active"
      id="nav-home-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-home"
      type="button"
      role="tab"
      aria-controls="nav-home"
      aria-selected="true"
    >
      Accueil
    </button>
    <button
      class="nav-link"
      id="nav-promos-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-promos"
      type="button"
      role="tab"
      aria-controls="nav-promos"
      aria-selected="false"
    >
      Promotions
    </button>
  </div>
</nav>
<div class="tab-content m-3" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
    <h3>Cours du jour</h3>
    <!-- <div id="class-container" class="container-sm bg-body-secondary p-3 rounded mt-5">
      <span class="spinner-border" role="status" id="class-spinner"></span>
      <span class="small" id="class-spinner-text">Chargement des cours...</span>
    </div> -->
  </div>
  <div class="tab-pane fade" id="nav-promos" role="tabpanel" aria-labelledby="nav-promos-tab" tabindex="0">
    <div id="promo-header-ctn" class="d-flex">
      <div>
        <h3>Toutes les promotions</h3>
        <p>Tableau des promotions de Simplon</p>
      </div>
      <div class="ms-auto">
        <a href="./promos" class="btn btn-success align-self-end">Ajouter promotion</a>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Promotion</th>
          <th scope="col">Début</th>
          <th scope="col">Fin</th>
          <th scope="col">Places</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="visually-hidden">
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>
            <a href="./cours">Voir</a>
            <a href="./cours">Modifier</a>
            <a href="./cours">Supprimer</a>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>
            <a href="./cours">Voir</a>
            <a href="./cours">Modifier</a>
            <a href="./cours">Supprimer</a>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
          <td>
            <a href="./cours">Voir</a>
            <a href="./cours">Modifier</a>
            <a href="./cours">Supprimer</a>
          </td>
        </tr>
      </tbody>
    </table>
    <span class="spinner-border" role="status"></span>
    <span class="small">Chargement des promotions...</span>
  </div>
</div>
